parameters:
    paths:
        - src
    excludes_analyse:
        - src/DependencyInjection/Configuration.php
    level: max
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
